
body{
	background-color: #778899;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
}



.main_container_flex{ /*flex parent*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;

	max-width: 900px;
	margin: auto;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	background-color: #cccccc;
}

.left_section_flex{ /*flex child and also parent*/
	flex: 4;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;

	padding: 10px;
}



.dp_img{
	border-radius: 50%;
	height: 300px;
	width: auto;
}

.name_designation, .contact, .hobbies, .Certificates{
	text-align: center;
}


.hobby_point, .Certificates_point, .skill_point, .activity_point{
	text-align: left;
}

.hr_line{
	margin: 20px;
}


.right_section_flex{  /*flex child and also parent*/
	flex: 7;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items:flex-start;
	align-content: flex-start;
	flex-wrap: wrap;

	padding: 10px;
	background-color: #ffffff;

}

.centered_div_in_mobile_device{
	text-align: left; /*left aligned in desktop*/
}



a {
  color: blue;
}

li{
  margin-bottom: 10px;
}

p.big {
  line-height: 1.5;
}


@media  screen and (max-width: 1000px) { /* single column cv for mobile and tablets with screen width below 1000px */
.main_container_flex{
	
	flex-direction: column;
	align-items: center;
	align-content: center;

}

.right_section_flex{  /*flex child and also parent*/


	align-items:center;
	align-content: center;

}


.centered_div_in_mobile_device{
	text-align: center;
}

.skill_point, .activity_point{
	text-align: left;
}

}